@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<nav class="navbar navbar-danger navbar-transparent navbar-absolute">    
    @Html.Partial("~/Views/Shared/HeaderNavBar.cshtml")
</nav>
<div class="page-header header-filter"style="background-image: url(/Content/assets/img/dg1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Your Story Starts With Us.</h1>
                <h4>Every landing page needs a small description after the big bold title, that's why we added this text here. Add here all the information that can make you or your product create the first impression.</h4>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container-fluid" style="padding: 0;">
        <div class="container">

            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Let's talk about Services</h2>
                        <h5 class="description">
                            This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.
                        </h5>
                    </div>
                </div>

            </div>
            <style>
                .services > div:not(:first-child) {
                    border-top: 0px solid #777;
                }
                .services img {
                    width: 255px !important;
                    height: 255px !important;
                }
            </style>
            <div class="section text-center">
                <h2 class="title">Here is our Services</h2>

                <div class="team">
                    <div class="row services">
                        <div class="col-md-12">
                            <div id="Planes" class="card card-profile card-plain">
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Planes.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Carss.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Boats.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Villas.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Chauffeurs.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Chefs.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Housekeepings.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Tours.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Trainers.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="col-md-9">
                                    <div class="content">
                                        <h4 class="card-title">Category</h4>
                                        <h6 class="category text-muted">Sub-Category</h6>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human foundation in truth...
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-image" style="border-radius: 50%;">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="/Content/Services/Security.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="section-light-gray">
            <div class="container section section-contacts">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center title">Work with us</h2>
                        <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Your Name</label>
                                        <input type="email" class="form-control">
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Your Email</label>
                                        <input type="email" class="form-control">
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Your Messge</label>
                                <textarea class="form-control" rows="4"></textarea>
                                <span class="material-input"></span>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 text-center">
                                    <button class="btn btn-primary btn-raised">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            
        </div>

    </div>

</div>