@{
    ViewBag.Title = "concierge";
}

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MyLayout.cshtml";

    var services = LayerDAO.ServicesDao.GetAll();
    var UploadLoca = RentalsClinet.Helpers.CustomActions.getUploadLocation();
}
<nav class="navbar navbar-transparent navbar-absolute">
    @Html.Partial("~/Views/Shared/HeaderNavBar.cshtml")
</nav>
<div class="page-header header-filter" style="height:40vh; min-height: 50vh;">
    <div class="container" style="padding-top:20vh;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">CONCIERGE</h1>
            </div>
        </div>
    </div>
</div>
<style>
    .description > * {
        font-size: 16px;
    }
</style>
<div class="main">
    <div class="container">
        <div class="about-description text-center" style="padding-top:10vh;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="description">
                        <p>The Maruca Group&nbsp;Planning Process (TMGPP) allows you, or your designee, to design with us an “a la carte vacation” or special event with specific plans and costs. We understand every client is different, thus there are no pre-set plans. No surprises or hidden costs.</p>
                        <p>We supervise every service provided and maintain daily communication to assure our services are meeting your expectations.</p>
                        <p>You will be assigned a dedicated concierge that will manage your entire stay: From planning to check out; 24 hours, 7 days a week.</p>
                        <p>We meet or exceed the concierge services offered by 5-star hotels and more.</p>
                        <p>Daily maid services, butlers, bartenders, chef services on demand, drivers, babysitters, shopping coordinators, entertainers, interpreters, reservation services…even Salsa lessons! You decide what you need and anything legal will be organized for you. Peace of mind applies to the planning process too. We will not try to sell you what you do not need. We do not use “forced selling” techniques as some of our competitors. We practice NOHA-NOHA (No hassle no haggle). If you just want to do nothing; that’s fine with us too and we will work hard to leave you alone… enjoying a relaxing vacation.</p>
                        <h4>Finally, we would appreciate the opportunity to serve you, but if you decide not to work with us<br> Please make sure you are dealing with a reputable firm.</h4>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .services-list-details img {
                width: 100px !important;
                height: 100px !important;
            }
            .services-list-details a {
                padding: 20px;
            }
        </style>
        <div class="row services-list-details">
            @foreach (var s in services)
            {
                <div class="col-md-2 col-md-offset-1">
                    <a href="/Services/Detail/@s.guid" class="">
                        <img src="@UploadLoca/@s.ImageSmall" alt="Thumbnail Image" class="img-circle img-raised img-responsive">
                    </a>
                 </div>   
            }
            
        </div>
    </div>
</div>