@{
    ViewBag.Title = "Index";
}

<div class="cd-section" id="headers">
    <!--     *********     HEADER 1      *********      
    <!--     *********    END HEADER 1      *********      -->
    <!--     *********     HEADER 2      *********      -->
    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('/Content/assets/img/d_casa_oliver.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="title">                            
                            What's Your Dream Vacation?
                        </h1>
                        <h4>
                            Luxury Vacation Rentals Around the World
                        </h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card card-raised card-form-horizontal">
                            <div class="content">
                                <form method="" action="sections.html">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">location_on</i>
                                                </span>
                                                <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Where's your luxury retreat?"><span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Check in</label>
                                                <input type="text" class="datepicker form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Check out</label>
                                                <input type="text" class="datepicker form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group is-empty">
                                                <input type="number" value="" placeholder="Guests" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-info btn-block">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <h4>
                            <b style="color:white;text-shadow: 1px 1px 1px black;">Top destinations: </b>
                            <a href="/vacation-rentals/caribbean/st-martin/" style="color:white;text-shadow: 1px 1px 1px black;text-decoration: underline;">St. Martin</a>, 
                            <a href="/vacation-rentals/caribbean/barbados/" style="color:white;text-shadow: 1px 1px 1px black;text-decoration: underline;">Barbados</a>, 
                            <a href="/vacation-rentals/hawaii/maui/" style="color:white;text-shadow: 1px 1px 1px black;text-decoration: underline;">Maui</a>, 
                            <a href="/vacation-rentals/california" style="color:white;text-shadow: 1px 1px 1px black;text-decoration: underline;">California</a>.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END HEADER 2      *********      -->
    <!--     *********     HEADER 3      *********      -->
    <!--     *********    END HEADER 3      *********      -->
</div>
<div class="cd-section" id="features">
    <div class="container">
        <!--     *********     FEATURES 1      *********      -->
        <div class="features-1">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="95.17px" height="80px" viewBox="0 0 95.17 86.168" style="enable-background:new 0 0 95.17 86.168;"
                                 xml:space="preserve">
                                <image style="overflow:visible;" width="120" height="360" xlink:href="/Content/assets/img/iBrandPromise.png" transform="matrix(1 0 0 1 -11.8726 -16.855)"></image>
                            </svg>
                        </div>
                        <h4 class="info-title">OVER 3700 PROFESSIONALLY INSPECTED VILLAS</h4>
                        <p>
                            Your vacation time is valuable, which is why we handpick and inspect every property. The result? Vacation rentals that won’t leave you with unwanted surprises.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="106.971px" height="80px" viewBox="0 0 106.971 78.454" style="enable-background:new 0 0 106.971 78.454;"
                                 xml:space="preserve">
                                <image style="overflow:visible;" width="120" height="360" xlink:href="/Content/assets/img/iBrandPromise.png" transform="matrix(1 0 0 1 -7.0332 -140.9824)"></image>
                            </svg>
                        </div>
                        <h4 class="info-title">24/7 GUEST SUPPORT</h4>
                        <p>
                            Every guest is appointed a Personal Concierge, with local service now available in key destinations.  Upon arrival, our 24Seven Concierge is available 24/7.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="106.135px" height="80px" viewBox="0 0 106.135 80" style="enable-background:new 0 0 106.135 80;" xml:space="preserve">
                                <image style="overflow:visible;" width="120" height="360" xlink:href="/Content/assets/img/iBrandPromise.png" transform="matrix(1 0 0 1 -6.9507 -259.8774)"></image>
                            </svg>
                        </div>
                        <h4 class="info-title">PRICE MATCH GUARANTEE</h4>
                        <p>
                            Who says top quality and great value can't go hand in hand? At Luxury Retreats you can rest easy knowing you’re enjoying competitive nightly rates.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--     *********    END FEATURES 1      *********      -->
    </div>
</div>
<div class="cd-section" id="blogs">

    <div class="header-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_new800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_beachfront800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_beachfront800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_promotion800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_promotion800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_honeymoon800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_honeymoon800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_city800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_city800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_new800x660.jpg');height:100%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <h1 class="title">Material Kit PRO</h1>
                                            <h4>Dolce & Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                            <br />
                                            <div class="buttons">
                                                <a href="sections.html#pablo" class="btn btn-primary btn-lg">
                                                    Read More
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                                <a href="sections.html#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                    <i class="fa fa-get-pocket"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="sections.html#carousel-example-generic" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                </a>
                <a class="right carousel-control" href="sections.html#carousel-example-generic" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="cd-section" id="testimonials">
    <!--     *********    TESTIMONIALS 2     *********      -->
    <div class="testimonials-2 section-gray">
        <div class="container">
            <div class="row">
                <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="card card-profile card-plain">
                                <div class="col-md-5">
                                    <div class="card-image" style="    border-radius: 500px;">
                                        <a href="sections.html#pablo">
                                            <img class="img" src="//resources.luxuryretreats.com/www/images/vr5/whatsnewwithuspyramid.png">
                                        </a>
                                        <div class="ripple-container"></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="text-align:left;">
                                    <div class="content">
                                        <h3 class="card-title">What’s new with us?</h3>
                                        <h5 class="category text-muted">Did you tune-in to The $100,000 Pyramid?</h5>
                                        <p class="card-description">
                                            If you’ve been watching this season you must’ve noticed the incredible Luxury Retreats villa getaways given to the lucky winners!
                                        </p>
                                        <a style="font-weight:bold;" class="text-success" href="http://exclusives.luxuryretreats.com/pyramid-show/" target="_blank">Explore our prize villas</a>
                                        <br />
                                        <i class="whoCaption">Pictured: Beach Enclave, Turks and Caicos</i>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-profile card-plain">
                                <div class="col-md-5">
                                    <div class="card-image" style="    border-radius: 500px;">
                                        <a href="sections.html#pablo">
                                            <img class="img" src="//resources.luxuryretreats.com/www/images/vr5/home_SkiDestination.png">
                                        </a>
                                        <div class="ripple-container"></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="text-align:left;">
                                    <div class="content">
                                        <h3 class="card-title">What’s new with us?</h3>
                                        <h5 class="category text-muted">
                                            New Ski Destination
                                        </h5>
                                        <p class="card-description">
                                            Steamboat Springs is our latest North American ski resort destination, joining Breckenridge, Aspen, Telluride and the Vail Valley in our growing Colorado portfolio.
                                        </p>
                                        <a style="font-weight:bold;" class="text-success" href="http://exclusives.luxuryretreats.com/pyramid-show/" target="_blank">
                                            Take Me to Steamboat Springs 
                                        </a>
                                        <br />
                                        <i class="whoCaption">
                                            Pictured: Steamboat Springs, CO    
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="sections.html#carousel-testimonial" role="button" data-slide="prev">
                        <i class="material-icons" aria-hidden="true">chevron_left</i>
                    </a>
                    <a class="right carousel-control" href="sections.html#carousel-testimonial" role="button" data-slide="next">
                        <i class="material-icons" aria-hidden="true">chevron_right</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END TESTIMONIALS 2      *********      -->
    <!--     *********    TESTIMONIALS 1     *********      -->
</div>
<div class="cd-section" id="teams">

    <div class="features-3" style="padding:80px 0 0 0 ;">

        <div class="row">
            <div class="col-md-12">

                <div class="col-md-12 text-center">
                    <h2 class="title"> Best Options </h2>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <a href="#" target="_blank">
                            <div class="card-image">
                                <img src="//resources.luxuryretreats.com/www/images/vr5/home_dest_BigIsland530x260.jpg" />
                            </div>
                        </a>
                        <div class="content">
                            <a href="#" target="_blank">
                                <img src="//resources.luxuryretreats.com/www/images/vr5/iBestForResort.png" style="width:45px">
                                <h4 class="card-title" style="display:inline-block;">Best For: Resort Living</h4>
                            </a>
                            <h3 class="category card-title">The Big Island </h3>
                            <p class="card-description">
                                Impressive natural beauty meets luxe resort living on Hawaii's largest island.  Spend your days exploring Big Island's beaches and national parks, or take in the views from its world-class spas and golf courses.
                            </p>
                            <a class="btn btn-default btn-sm" href="/vacation-rentals/hawaii/big-island/">View all <span>69</span> villas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank">
                            <div class="card-image">
                                <img src="//resources.luxuryretreats.com/www/images/vr5/home_dest_RivieraMaya530x260.jpg" />
                            </div>
                        </a>
                        <div class="content">
                            <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank">
                                <img src="//resources.luxuryretreats.com/www/images/vr5/iBestForNatural.png" style="width:45px">
                                <h4 class="card-title" style="display:inline-block;">Best For: Natural Beauty</h4>
                            </a>
                            <h3 class="category card-title">The Riviera Maya</h3>
                            <p class="card-description">
                                Home to miles of pristine Caribbean coastline, the Riviera Maya boasts some of Mexico's best beaches.  Beyond sand and sea, explore ancient pyramids and Playa Del Carmen's exciting dining scene.
                            </p>
                            <a class="btn btn-default btn-sm" href="/vacation-rentals/mexico/riviera-maya/">View all <span>90</span> villas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <a href="http://www.creative-tim.com/product/get-shit-done-pro" target="_blank">
                            <div class="card-image">
                                <img src="//resources.luxuryretreats.com/www/images/vr5/home_dest_LakeTahoe530x260.jpg" />
                            </div>
                        </a>
                        <div class="content">
                            <a href="http://www.creative-tim.com/product/get-shit-done-pro" target="_blank">
                                <img src="//resources.luxuryretreats.com/www/images/vr5/iBestForActive.png" style="width:45px">
                                <h4 class="card-title" style="display:inline-block;">Best For: Active Vacationers</h4>
                            </a>
                            <h3 class="category  card-title">California - Lake Tahoe</h3>
                            <p class="card-description">
                                Straddling the border of Nevada and California, Lake Tahoe is a dream come true for active vacationers. The largest alpine lake in North America, it has endless options for summer aquatic adventures and come winter there’s world-renowned skiing and boarding.
                            </p>
                            <a class="btn btn-default btn-sm" href="/vacation-rentals/united-states/california-lake-tahoe/">View all <span>11</span> villas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cd-section" id="clients">
    <!--     *********    TESTIMONIALS 2     *********      -->
    <div class="testimonials-2 section-gray">
        <div class="container">
            <div class="row">
                <div id="carousel-testimonial2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="card card-testimonial">
                                    <div class="icon">
                                        <i class="material-icons">format_quote</i>
                                    </div>
                                    <div class="content">
                                        <h5 class="card-description">
                                            Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
                                        </h5>
                                    </div>

                                    <div class="footer">
                                        <h4 class="card-title">Alec Thompson</h4>
                                        <h6 class="category">alecthompson</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="card card-testimonial">
                                    <div class="icon">
                                        <i class="material-icons">format_quote</i>
                                    </div>
                                    <div class="content">
                                        <h5 class="card-description">
                                            Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
                                        </h5>
                                    </div>

                                    <div class="footer">
                                        <h4 class="card-title">Alec Thompson</h4>
                                        <h6 class="category">alecthompson</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-testimonial2" role="button" data-slide="prev">
                        <i class="material-icons" aria-hidden="true">chevron_left</i>
                    </a>
                    <a class="right carousel-control" href="#carousel-testimonial2" role="button" data-slide="next">
                        <i class="material-icons" aria-hidden="true">chevron_right</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END TESTIMONIALS 2      *********      -->
    <!--     *********    TESTIMONIALS 1     *********      -->
</div>

<div class="cd-section" id="contactus">
    <!--     *********    CONTACT US 1     *********      -->
    <div class="contactus-1 section-image" style="background-image: url('/Content/assets/img/examples/city.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="hide">
                        <h2 class="title">Get in Touch</h2>
                        <h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Find us at the office</h4>
                                <p>
                                    Bld Mihail Kogalniceanu, nr. 8,<br>
                                    7652 Bucharest,<br>
                                    Romania
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Give us a ring</h4>
                                <p>
                                    Michael Jordan<br>
                                    +40 762 321 762<br>
                                    Mon - Fri, 8:00-22:00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="card card-contact">
                        <form role="form" id="contact-form" method="post">
                            <div class="header header-raised header-primary text-center">
                                <h4 class="card-title">Contact Us</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">First name</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Last name</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Email address</label>
                                    <input type="email" name="email" class="form-control" />
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-static">
                                            <label class="control-label">I would like to go to...</label>
                                            <select class="select form-control" placeholder="Select a destination">
                                                <option disabled selected class="disabled">Select a destination</option>
                                                <option value="1">Paris </option>
                                                <option value="1">Bucharest</option>
                                                <option value="1">Rome</option>
                                                <option value="1">New York</option>
                                                <option value="1">Miami </option>
                                                <option value="1">Piatra Neamt</option>
                                                <option value="1">Paris </option>
                                                <option value="1">Bucharest</option>
                                                <option value="1">Rome</option>
                                                <option value="1">New York</option>
                                                <option value="1">Miami </option>
                                                <option value="1">Piatra Neamt</option>
                                                <option value="1">Paris </option>
                                                <option value="1">Bucharest</option>
                                                <option value="1">Rome</option>
                                                <option value="1">New York</option>
                                                <option value="1">Miami </option>
                                                <option value="1">Piatra Neamt</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-static">
                                            <label class="control-label">In the month of...</label>
                                            <select class="select form-control" placeholder="Travel Dates TBC">
                                                <option selected class="disabled">Travel Dates TBC</option>
                                                <option value="1">January</option>
                                                <option value="1">February</option>
                                                <option value="1">March</option>
                                                <option value="1">April</option>
                                                <option value="1">May</option>
                                                <option value="1">June</option>
                                                <option value="1">July</option>
                                                <option value="1">August</option>
                                                <option value="1">September</option>
                                                <option value="1">October</option>
                                                <option value="1">November</option>
                                                <option value="1">December</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group label-static">
                                    <label class="control-label">What's the occasion?</label>
                                    <textarea name="message" class="form-control" id="message" placeholder="Tell us a little bit about what you're looking for." rows="6"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes">
                                                I'm not a robot
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END CONTACT US 1      *********      -->
</div>
<div class="cd-section">

    <div class="subscribe-line section-gray subscribe-line-image ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="title">Want More From Luxury Retreats</h4>
                    <p class="description">
                        Get exclusive offers straight to your inbox:
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="card card-plain card-form-horizontal">
                        <div class="content">
                            <form method="" action="index.html">
                                <div class="row">
                                    <div class="col-sm-8">

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons" style="color:white;">mail</i>
                                            </span>
                                            <div class="form-group is-empty"><input type="email" style="color:white;" value="" placeholder="Your Email..." class="form-control"><span class="material-input"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-rose btn-round btn-block">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
