@{
    ViewBag.Title = "Testimonals";
    ViewBag.Title = ViewBag.HeadTitle;
    Layout = "~/Views/Shared/_MyLayout.cshtml";

    ViewBag.UploadLocation = RentalsClinet.Helpers.CustomActions.getUploadLocation();  
}
@model List<LayerDB.Testimonal>
<nav class="navbar navbar-transparent navbar-absolute">
    @Html.Partial("~/Views/Shared/HeaderNavBar.cshtml")
</nav>
<div class="page-header header-filter" style="height:50vh; min-height: 50vh;">
    <div class="container" style="padding-top:20vh;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="title">Our Clients Love Us</h2>
                <h5 class="description" style="color:#fff;">You need more information? Check what other persons are saying about us.</h5>
            </div>
        </div>
    </div>
</div>
<style>
    .description p {
        font-size: 16px;
    }
</style>
<div class="main" style="background: rgba(238, 238, 238, 0.4);">
    <div class="container" style="min-height:100vh;padding-top:15px;">
        <div class="row">
            @foreach (var t in Model)
            {
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="icon">
                            <i class="material-icons">format_quote</i>
                        </div>
                        <div class="content">
                            <h5 class="card-description">
                                @t.Text
                            </h5>
                        </div>
                        <div class="footer">
                            <h4 class="card-title">@t.Name</h4>
                            <div class="card-avatar">
                                <a href="#pablo">
                                    @if (!string.IsNullOrWhiteSpace(t.UserImage))
                                    {
                                        <img style="height: 80px; width: 80px;" class="img" src="@ViewBag.UploadLocation/@(t.UserImage ?? "")" />
                                    }
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>