
<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="/Content/assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
    -->
    <div class="logo">
        <a href="/" class="simple-text">
            The Maruca Group
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="/" class="simple-text">
            TMG
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="/Content/assets/img/default-avatar.png" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#ProfileComponents" class="collapsed">
                    Anonymous
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="ProfileComponents">
                    <ul class="nav">
                        <li>
                            <a href="#">My Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            <li>
                <a href="/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#MainPagecomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Website Settings
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="MainPagecomponents">
                    <ul class="nav">
                        <li><a href="/Home/Services">Services Panel</a></li>
                        <li><a href="/Home/BestOptions">Best Options Panel</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li><a href="/Home/AboutUs">AboutUs</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#FAQscomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        FAQs
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="FAQscomponents">
                    <ul class="nav">
                        <li><a href="/FAQ">View All</a></li>
                        <li><a href="/FAQ/Update">Add New</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#Testimonalscomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Testimonals
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Testimonalscomponents">
                    <ul class="nav">
                        <li><a href="/Testimonals">View All</a></li>
                        <li><a href="/Testimonals/Update">Add New</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#Servicescomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Services
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Servicescomponents">
                    <ul class="nav">
                        <li><a href="/Services">View All</a></li>
                        <li><a href="/Services/Update">Add New</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#Propertycomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        My Properties
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Propertycomponents">
                    <ul class="nav">
                        <li><a href="/MyProperty">View</a></li>
                        <li><a href="/MyProperty/DeactivedVillas">View Deactive</a></li>
                        <li><a href="/MyProperty/AddNew">Add New Property</a></li>
                        <li><a href="/MyProperty/City">Cities</a></li>
                        <li><a href="/MyProperty/Edit">Edit properties</a></li>
                        <li><a href="/MyProperty/AvailabilityAndPrices">Calendar &amp; Pricing</a></li>
                        <li><a href="/MyProperty/MultiCalendar">MultiCalendar</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#Bookingcomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Bookings
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Bookingcomponents">
                    <ul class="nav">
                        <li><a href="/MyBookings/Search">Search Bookings</a></li>
                        <li><a href="/MyBookings/AddNew">New Reservation</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#Carscomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Magzines
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Carscomponents">
                    <ul class="nav">
                        <li><a href="/Magzines/Add">Add</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#Carscomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Cars
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Carscomponents">
                    <ul class="nav">
                        <li><a href="/Cars">View</a></li>
                        <li><a href="/Cars/AddNew">Add</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#Yachtscomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Yachts
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Yachtscomponents">
                    <ul class="nav">
                        <li><a href="/Yachts">View</a></li>
                        <li><a href="/Yachts/AddNew">Add</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
