<style>
    
    .navbar-brand {
        font-weight:bold;
        font-family: Lato;
        font-weight:bold !important;
        text-shadow: 1px 1px 1px #777;
    }
    .link a{
        font-weight:bold !important;
        text-shadow: 1px 1px 1px #777;
    }
</style>
<div class="container main_navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="padding: 5px 15px;">
            <img src="~/Content/assets/img/TMG.png" style="width:50px;display:inline;"/>
            The Maruca Group
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navigation-example">
        <ul class="nav navbar-nav navbar-right">
            <li class="link">
                <a href="/Destinations">
                    Destinations
                </a>
            </li>
            <li class="link">
                <a href="/Yachts">
                    Boat Rental & Yacht Charters
                </a>
            </li>
            <li class="link">
                <a href="/Cars">
                    Cars
                </a>
            </li>
            <li class="link">
                <a id="headerMagazineLnk" href="/Magzines" data-name="magazine">
                    Magzines
                </a>
            </li>
            <li class="link">
                <a href="/homeowner">
                    Homeowners
                </a>
            </li>
            <li class="link contact">
                <a href="/Home/Contact" id="contactToggle" class="hasMenuArrow">
                    Contact
                </a>
            </li>
            <li class="link about">
                <a href="/Home/About" id="contactToggle" class="hasMenuArrow">
                    About Us
                </a>
            </li>
            <li class="link loginWrapper hide noUnderline">
                <a id="login" class="btn btn-sm btn-success">Log in</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-center hide">

            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="#pablo">
                    About Us
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Products
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Contact Us
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hide">
            <li>
                <a href="https://twitter.com/CreativeTim">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/CreativeTim">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/CreativeTimOfficial">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>