@{
    ViewBag.Title = "Index";
}
<div class="page-header header-filter" style="background-image: url('http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2017/03/St-Martin_ocean-1024x683.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-5 text-right">
                <h1 class="title">Day Tripping: St Martin</h1>
                <h4>
                    From Anguilla to St Barts... easy island hops from this Caribbean hotspot    
                </h4>
                <p>
                    By Joanna Fox
                </p>
                <br>

                <div class="buttons">
                    <a href="#" class="btn btn-success btn-md">
                        <i class="material-icons">format_align_left</i>
                        Read More
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col-md-12 section-white-to-gray">

    <div class="col-md-6 col-md-offset-2 section-white-to-gray" style="box-shadow: 0px -16px 1px 2px transparent linear-gradient(0deg, #e5e5e5 0%, #fff 100%);    border-top-left-radius: 10px;    margin-top: -3%;    z-index: 1;    padding: 5px;    border-top-right-radius: 10px;    background: transparent linear-gradient(0deg, #f6f6f6 0%, #fcfcfc 100%) repeat scroll 0 0;">
        <ul class="nav nav-pills nav-pills-icons nav-pills-info nav-justified" role="tablist">
            <!--
                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
            -->
            <li class="">
                <a href="index.html#dashboard-1" role="tab" data-toggle="tab" aria-expanded="false" >
                    <i class="">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M3,3A1,1 0 0,0 2,4V8L2,9.5C2,11.19 3.03,12.63 4.5,13.22V19.5A1.5,1.5 0 0,0 6,21A1.5,1.5 0 0,0 7.5,19.5V13.22C8.97,12.63 10,11.19 10,9.5V8L10,4A1,1 0 0,0 9,3A1,1 0 0,0 8,4V8A0.5,0.5 0 0,1 7.5,8.5A0.5,0.5 0 0,1 7,8V4A1,1 0 0,0 6,3A1,1 0 0,0 5,4V8A0.5,0.5 0 0,1 4.5,8.5A0.5,0.5 0 0,1 4,8V4A1,1 0 0,0 3,3M19.88,3C19.75,3 19.62,3.09 19.5,3.16L16,5.25V9H12V11H13L14,21H20L21,11H22V9H18V6.34L20.5,4.84C21,4.56 21.13,4 20.84,3.5C20.63,3.14 20.26,2.95 19.88,3Z"></path>
                        </svg>
                    </i>Food
                </a>
            </li>
            <li class="">
                <a href="index.html#schedule-1" role="tab" data-toggle="tab" aria-expanded="false">
                    <i class="material-icons">airplanemode_active</i>Travel
                </a>
            </li>
            <li class="active">
                <a href="#latest_magzines" role="tab" data-toggle="tab" aria-expanded="true">
                    <i class="material-icons">new_releases</i>
                    Latest
                </a>
            </li>
            <li class="">
                <a href="index.html#tasks-1" role="tab" data-toggle="tab" aria-expanded="false">
                    <i class="material-icons">home</i>Home
                </a>
            </li>
            <li class="">
                <a href="index.html#tasks-1" role="tab" data-toggle="tab" aria-expanded="false">
                    <i class="material-icons">people</i>People
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1">

        <div class="tab-content tab-space">
            <div class="tab-pane" id="schedule-1">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
            </div>
            <div class="tab-pane active" id="tasks-1">
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
            </div>
            <div class="tab-pane" id="latest_magzines">
                <h2 class="title">Latest Magzines</h2>
                <br>
                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-image">
                                <img class="img img-raised" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2017/03/Featured-Image-400x400.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card card-profile card-plain" style="    margin: 0;">
                                <div class="col-md-3">
                                    <div class="card-image" style="max-width: 76px;max-height: 76px;">
                                        <a href="sections.html#pablo">
                                            <img class="img" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2016/11/ADAM-Lague_edit-BW-small-150x150.png">
                                        </a>
                                        <div class="ripple-container"></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="text-align: left;padding:0;">
                                    <div class="">
                                        <h4 class="card-title" style="    margin: 0;">
                                            Adam Lague
                                        </h4>
                                        <h6 class="category text-muted" style="    margin: 0;">
                                            Features Writer
                                        </h6>
                                    </div>
                                    <p class="author">
                                        March 9, 2017
                                    </p>
                                </div>
                            </div>

                            <h4 class="card-title">
                                <a href="sections.html#pablo">GO FOR THE GREEN: 5 GREAT GOLFCATIONS</a>
                            </h4>
                            <p class="card-description">
                                Mark Twain once said golf is a good walk spoiled. But for those of us silly enough to play this frustrating game (over and over), it really is a way of life. We practice, we play, we read, and we watch, and if you live in a winter clime, you think about it all winter long. <a href="sections.html#pablo"> Read More </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card card-profile card-plain" style="    margin: 0;">
                                <div class="col-md-3">
                                    <div class="card-image" style="max-width: 76px;max-height: 76px;">
                                        <a href="sections.html#pablo">
                                            <img class="img" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2014/04/Judith_WebsiteWP-150x150.jpg">
                                        </a>
                                        <div class="ripple-container"></div>
                                    </div>
                                </div>
                                <div class="col-md-7" style="text-align: left;padding:0;">
                                    <div class="">
                                        <h4 class="card-title" style="    margin: 0;">
                                            Judith Ritter
                                        </h4>
                                        <h6 class="category text-muted" style="    margin: 0;">
                                            Contributor
                                        </h6>
                                    </div>
                                    <p class="author">March 6, 2017 </p>
                                </div>
                            </div>

                            <h4 class="card-title">
                                <a href="sections.html#pablo">A Slice of Paradise at Tip of the Tail Villa</a>
                            </h4>
                            <p class="card-description">
                                There was nothing in Glenn Garrard’s childhood that would predict that at age 50 he would hand build a six-bedroom Frank Lloyd Wright-inspired home on a deserted tip of a small tropical island and moreover, complete it in a mere 7 months! Glenn, who grew up in a northern climate (Ontario, Canada), had not traveled […]
                                 <a href="sections.html#pablo"> Read More </a>
                            </p>
                        </div>
                        <div class="col-md-5">
                            <div class="card-image">
                                <img class="img img-raised" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2017/03/TurksAndCaicos_TipOfTheTail_42-400x400.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="box-shadow: -1px 0px 0px 0px #afacac;margin-bottom:3%;">
        <h2 class="card-title">
            Trending
            <i class="material-icons text-danger">trending_up</i>
        </h2>
        <div class="col-md-10 col-md-offset-1">
            <div class="card card-profile ">
                <div class="card-image" style="    background: transparent;    width: 110%;    margin-left: -5%;    margin-right: -5%;">
                    <a href="sections.html#pablo">
                        <img class="img" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2016/02/jamaica_littlewaters_02-400x400.png" style="    background: transparent;    width: 145%;">
                    </a>
                </div>
                <h6 class="card-title">Building Dreams at Little Waters, Jamaica</h6>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="card card-profile ">
                <div class="card-image" style="    background: transparent;    width: 110%;    margin-left: -5%;    margin-right: -5%;">
                    <a href="sections.html#pablo">
                        <img class="img" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2016/06/umbria_spinaltermine_07-400x400.jpg" style="    background: transparent;    width: 145%;">
                    </a>
                </div>
                <h6 class="card-title">Get The Look: Italian Dream Kitchen</h6>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="card card-profile ">
                <div class="card-image" style="    background: transparent;    width: 110%;    margin-left: -5%;    margin-right: -5%;">
                    <a href="sections.html#pablo">
                        <img class="img" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2015/08/Cape-Town-Views-400x400.jpg" style="    background: transparent;    width: 145%;">
                    </a>
                </div>
                <h6 class="card-title">7 Reasons to Love Cape Town</h6>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="card card-profile ">
                <div class="card-image" style="    background: transparent;    width: 110%;    margin-left: -5%;    margin-right: -5%;">
                    <a href="sections.html#pablo">
                        <img class="img" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2016/06/amalficoast_villaferida_01-400x400.jpg" style="    background: transparent;    width: 145%;">
                    </a>
                </div>
                <h6 class="card-title">Dream Come True: A Spectacular Home on the Amalfi Coast</h6>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="card card-profile ">
                <div class="card-image" style="    background: transparent;    width: 110%;    margin-left: -5%;    margin-right: -5%;">
                    <a href="sections.html#pablo">
                        <img class="img" src="http://2mlyl2eanf41pq5h03csafz15gi.wpengine.netdna-cdn.com/wp-content/uploads/2017/02/Maui-Beach-View-400x400.jpg" style="    background: transparent;    width: 145%;">
                    </a>
                </div>
                <h6 class="card-title">5 Must-Do Maui Adventures</h6>
            </div>
        </div>
    </div>
</div>
