@{
    ViewBag.Title = "Index";
}


<div class="cd-section" id="headers">
    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('/Content/assets/img/cars.jpg'); height: 50vh; min-height: 50vh;">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="title">
                                Cars
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .features-5 .container .row [class*="col-"] {
        border: 0;
    }
    .features-5 .container .row [class*="col-"]:nth-child(2) {
        border-left: 1px solid rgba(255, 255, 255, 0.35);
        border-right: 1px solid rgba(255, 255, 255, 0.35);
    }
</style>
<div class="cd-section" id="projects">
    <div class="container" style="padding:60px; min-height: 100vh;">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url(/Content/Images/Luxury-Cars.jpg) !important">
                    <div class="content" style="padding: 23% 30px;">
                        <a href="/Cars/Luxury">
                            <h3 class="card-title">Luxury Cars</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url(/Content/Images/exotic-cars.jpg) !important">
                    <div class="content" style="padding: 23% 30px;">
                        <a href="/Cars/Exotic">
                            <h3 class="card-title">Exotic Cars</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>