@{
    ViewBag.Title = "Index";
}


<div class="cd-section" id="headers">
    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('/Content/assets/img/d_casa_oliver.jpg'); height: 50vh;">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="title">
                                Cars
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .features-5 .container .row [class*="col-"] {
        border: 0;
    }
    .features-5 .container .row [class*="col-"]:nth-child(2) {
        border-left: 1px solid rgba(255, 255, 255, 0.35);
        border-right: 1px solid rgba(255, 255, 255, 0.35);
    }
</style>
<div class="cd-section" id="projects">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Boat Rental & Yacht Charters</h2>
    </div>
    <div class="container" style="padding:60px;">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url(http://starluxyachts.com/wp-content/uploads/2016/03/60-Searay-New-EX-e1458978472509.jpeg?id=1288) !important">
                    <div class="content" style="padding: 23% 30px;">
                        <a href="/Cars/Luxury">
                            <h3 class="card-title">Luxury Cars</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url(http://starluxyachts.com/wp-content/uploads/2016/03/image3.jpg?id=843) !important">
                    <div class="content" style="padding: 23% 30px;">
                        <a href="/Cars/Exotic">
                            <h3 class="card-title">Exotic Cars</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>