USE [marucagroup_rentals]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[AmenitiesId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[AmenitiesTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Amenities] PRIMARY KEY CLUSTERED 
(
	[AmenitiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AmenitiesType]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AmenitiesType](
	[AmenitiesTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AmenitiesTypeName] [varchar](256) NOT NULL,
	[SVG] [varchar](1024) NULL,
 CONSTRAINT [PK_AmenitiesType] PRIMARY KEY CLUSTERED 
(
	[AmenitiesTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CalculatedAmount] [float] NOT NULL,
	[onCreated] [datetime] NOT NULL,
	[onModified] [datetime] NOT NULL,
	[isBooked] [bit] NOT NULL,
	[isChecked] [bit] NOT NULL,
	[PropertyId] [int] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Car](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Description] [ntext] NOT NULL,
	[OneDay] [float] NOT NULL,
	[ThreeDay] [float] NOT NULL,
	[Week] [float] NOT NULL,
	[Type] [int] NOT NULL,
	[Banner] [varchar](250) NOT NULL,
	[guid] [varchar](256) NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarSpecification]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarSpecification](
	[CarSpecificationID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[CarSpecId] [int] NOT NULL,
	[Value] [varchar](512) NOT NULL,
 CONSTRAINT [PK_CarSpecification] PRIMARY KEY CLUSTERED 
(
	[CarSpecificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[City]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](256) NOT NULL,
	[guid] [varchar](256) NOT NULL CONSTRAINT [DF_City_guid]  DEFAULT (''),
	[banner] [varchar](256) NOT NULL CONSTRAINT [DF_City_banner]  DEFAULT (''),
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Composition]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Composition](
	[CompositionId] [int] IDENTITY(1,1) NOT NULL,
	[Bedrooms] [int] NOT NULL,
	[Bathrooms] [int] NOT NULL,
	[Toilets] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
 CONSTRAINT [PK_Composition] PRIMARY KEY CLUSTERED 
(
	[CompositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Files]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Files](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](256) NOT NULL,
	[mimeType] [varchar](256) NOT NULL,
	[FileType] [int] NULL,
	[onCreated] [datetime] NOT NULL,
	[onModified] [datetime] NOT NULL,
	[FileTypeId] [int] NULL,
	[Description] [varchar](1024) NULL CONSTRAINT [DF_Files_Description]  DEFAULT (''),
 CONSTRAINT [PK_Files_1] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inquiries]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiries](
	[InquiryId] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Amount] [float] NOT NULL,
	[onCreated] [datetime] NOT NULL,
	[onModified] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Inquiries] PRIMARY KEY CLUSTERED 
(
	[InquiryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [varchar](256) NULL,
	[StreetNo] [varchar](256) NULL,
	[Country] [varchar](256) NULL,
	[ZipCode] [bigint] NULL,
	[Logitude] [float] NULL,
	[Latitude] [float] NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PropertyDetails]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PropertyDetails](
	[PropertyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[TypeId] [int] NOT NULL,
	[MaxGuests] [int] NOT NULL,
	[SpaceM2] [float] NOT NULL,
	[LocationId] [int] NOT NULL,
	[SpaceFT] [float] NOT NULL,
	[MinStay] [int] NOT NULL,
	[Availablity] [bit] NOT NULL,
	[Description] [ntext] NOT NULL,
	[OnCreated] [datetime] NOT NULL,
	[OnModified] [datetime] NOT NULL,
	[banner] [varchar](256) NULL,
	[isActive] [bit] NOT NULL,
	[guid] [varchar](256) NOT NULL CONSTRAINT [DF_PropertyDetails_guid]  DEFAULT (''),
	[videoURL] [varchar](512) NULL,
	[pdfFile] [varchar](256) NULL,
 CONSTRAINT [PK_PropertyDetails] PRIMARY KEY CLUSTERED 
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PropertyRentalBudgetDetails]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyRentalBudgetDetails](
	[RentalBudgetId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[onCreated] [datetime] NOT NULL,
	[onModified] [datetime] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_PropertyRentalBudgetDetails] PRIMARY KEY CLUSTERED 
(
	[RentalBudgetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PropertyReviews]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
	[Text] [ntext] NOT NULL,
	[Ratings] [float] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_PropertyReviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PropertyTags]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTags](
	[PropertyTagId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_PropertyTags] PRIMARY KEY CLUSTERED 
(
	[PropertyTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PropertyType]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PropertyType](
	[PropertyTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeName] [varchar](150) NOT NULL,
 CONSTRAINT [PK_PropertyType] PRIMARY KEY CLUSTERED 
(
	[PropertyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SiteMeta]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SiteMeta](
	[MetaId] [int] IDENTITY(1,1) NOT NULL,
	[MetaName] [varchar](500) NOT NULL,
	[MetaText] [ntext] NOT NULL,
 CONSTRAINT [PK_SiteMeta] PRIMARY KEY CLUSTERED 
(
	[MetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SiteMetaMatch]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteMetaMatch](
	[MatchMetaId] [int] IDENTITY(1,1) NOT NULL,
	[MetaParentId] [int] NOT NULL,
	[MetaChildId] [int] NOT NULL,
 CONSTRAINT [PK_SiteMetaMatch] PRIMARY KEY CLUSTERED 
(
	[MatchMetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specifications]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Specifications](
	[SpecId] [int] IDENTITY(1,1) NOT NULL,
	[SpecName] [varchar](256) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Specifications] PRIMARY KEY CLUSTERED 
(
	[SpecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](256) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[FirstName] [varchar](256) NOT NULL,
	[LastName] [varchar](256) NOT NULL,
	[Email] [varchar](256) NOT NULL,
	[PhoneNumber] [varchar](256) NOT NULL,
	[LocationId] [int] NOT NULL,
	[Description] [ntext] NOT NULL,
	[onCreated] [datetime] NOT NULL,
	[onModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Yachts]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Yachts](
	[YachtID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](512) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Length] [float] NOT NULL,
	[Banner] [varchar](256) NOT NULL,
	[guid] [varchar](128) NOT NULL,
 CONSTRAINT [PK_Yachts] PRIMARY KEY CLUSTERED 
(
	[YachtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YachtSpecifications]    Script Date: 28-May-17 3:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YachtSpecifications](
	[YachtSpecId] [int] IDENTITY(1,1) NOT NULL,
	[YachtId] [int] NOT NULL,
	[SpecID] [int] NOT NULL,
	[Value] [varchar](256) NOT NULL,
 CONSTRAINT [PK_YachtSpecifications] PRIMARY KEY CLUSTERED 
(
	[YachtSpecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([AmenitiesId], [PropertyId], [AmenitiesTypeId]) VALUES (1, 1, 1)
INSERT [dbo].[Amenities] ([AmenitiesId], [PropertyId], [AmenitiesTypeId]) VALUES (2, 1, 5)
INSERT [dbo].[Amenities] ([AmenitiesId], [PropertyId], [AmenitiesTypeId]) VALUES (3, 1, 8)
SET IDENTITY_INSERT [dbo].[Amenities] OFF
SET IDENTITY_INSERT [dbo].[AmenitiesType] ON 

INSERT [dbo].[AmenitiesType] ([AmenitiesTypeId], [AmenitiesTypeName], [SVG]) VALUES (1, N'Separate kitchen', NULL)
INSERT [dbo].[AmenitiesType] ([AmenitiesTypeId], [AmenitiesTypeName], [SVG]) VALUES (2, N'Terrace', NULL)
INSERT [dbo].[AmenitiesType] ([AmenitiesTypeId], [AmenitiesTypeName], [SVG]) VALUES (3, N'Heating', NULL)
GO
SET IDENTITY_INSERT [dbo].[AmenitiesType] OFF
SET IDENTITY_INSERT [dbo].[Car] ON 

SET IDENTITY_INSERT [dbo].[Car] OFF
SET IDENTITY_INSERT [dbo].[CarSpecification] ON 

INSERT [dbo].[CarSpecification] ([CarSpecificationID], [CarID], [CarSpecId], [Value]) VALUES (1, 2, 1, N'562 hp')
INSERT [dbo].[CarSpecification] ([CarSpecificationID], [CarID], [CarSpecId], [Value]) VALUES (2, 2, 2, N'7 speed with a sequential E-gear transmission.')
INSERT [dbo].[CarSpecification] ([CarSpecificationID], [CarID], [CarSpecId], [Value]) VALUES (3, 2, 3, N'3.4 seconds')
SET IDENTITY_INSERT [dbo].[CarSpecification] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityId], [CityName], [guid], [banner]) VALUES (1, N'BAHAMAS', N'BAHAMAS', N'Cities/Bahamas.jpg')
INSERT [dbo].[City] ([CityId], [CityName], [guid], [banner]) VALUES (2, N'Miami Beach', N'Miami-Beach', N'Cities/Miami.jpg')
INSERT [dbo].[City] ([CityId], [CityName], [guid], [banner]) VALUES (3, N'Palm Springs', N'Palm-Springs', N'Cities/Palm-Spring.jpg')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Composition] ON 

INSERT [dbo].[Composition] ([CompositionId], [Bedrooms], [Bathrooms], [Toilets], [PropertyId]) VALUES (1, 0, 0, 2, 1)
INSERT [dbo].[Composition] ([CompositionId], [Bedrooms], [Bathrooms], [Toilets], [PropertyId]) VALUES (2, 0, 0, 2, 2)
INSERT [dbo].[Composition] ([CompositionId], [Bedrooms], [Bathrooms], [Toilets], [PropertyId]) VALUES (3, 0, 0, 2, 3)
SET IDENTITY_INSERT [dbo].[Composition] OFF
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([FileId], [FileName], [mimeType], [FileType], [onCreated], [onModified], [FileTypeId], [Description]) VALUES (1, N'769d9360-71d7-4223-adb6-641457ccc0cf.jpg', N'image/jpg', 7, CAST(N'2017-04-12 04:36:42.173' AS DateTime), CAST(N'2017-04-12 04:36:42.173' AS DateTime), 1, N'')
INSERT [dbo].[Files] ([FileId], [FileName], [mimeType], [FileType], [onCreated], [onModified], [FileTypeId], [Description]) VALUES (2, N'557cbe3e-ea22-4b31-8e78-4db263b8dbe1.jpg', N'image/jpg', 7, CAST(N'2017-04-12 04:36:42.177' AS DateTime), CAST(N'2017-04-12 04:36:42.177' AS DateTime), 1, N'')
INSERT [dbo].[Files] ([FileId], [FileName], [mimeType], [FileType], [onCreated], [onModified], [FileTypeId], [Description]) VALUES (3, N'8c11e4f4-97d0-4a3b-9663-6700607c4aee.jpg', N'image/jpg', 7, CAST(N'2017-04-12 04:36:42.177' AS DateTime), CAST(N'2017-04-12 04:36:42.177' AS DateTime), 1, N'')
GO
SET IDENTITY_INSERT [dbo].[Files] OFF
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationId], [StreetName], [StreetNo], [Country], [ZipCode], [Logitude], [Latitude], [CityId]) VALUES (1, N'Walton', NULL, N'Pakistan', 54810, 74.393936157226562, 31.469072341918945, 1)
INSERT [dbo].[Location] ([LocationId], [StreetName], [StreetNo], [Country], [ZipCode], [Logitude], [Latitude], [CityId]) VALUES (2, N' CA', NULL, N'USA', 92262, -116.54529571533203, 33.830295562744141, 3)
INSERT [dbo].[Location] ([LocationId], [StreetName], [StreetNo], [Country], [ZipCode], [Logitude], [Latitude], [CityId]) VALUES (3, N'ca', NULL, N'USA', 20222, -116.54529571533203, 33.830295562744141, 3)
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[PropertyDetails] ON 

SET IDENTITY_INSERT [dbo].[PropertyDetails] OFF
SET IDENTITY_INSERT [dbo].[PropertyRentalBudgetDetails] ON 

INSERT [dbo].[PropertyRentalBudgetDetails] ([RentalBudgetId], [PropertyId], [StartDate], [EndDate], [onCreated], [onModified], [Price]) VALUES (1, 7, CAST(N'2016-01-01 00:00:00.000' AS DateTime), CAST(N'2016-06-14 00:00:00.000' AS DateTime), CAST(N'2017-04-12 09:05:12.480' AS DateTime), CAST(N'2017-04-12 09:05:12.480' AS DateTime), 526)
INSERT [dbo].[PropertyRentalBudgetDetails] ([RentalBudgetId], [PropertyId], [StartDate], [EndDate], [onCreated], [onModified], [Price]) VALUES (2, 7, CAST(N'2016-06-15 00:00:00.000' AS DateTime), CAST(N'2016-12-31 00:00:00.000' AS DateTime), CAST(N'2017-04-12 09:05:12.483' AS DateTime), CAST(N'2017-04-12 09:05:12.483' AS DateTime), 966)
INSERT [dbo].[PropertyRentalBudgetDetails] ([RentalBudgetId], [PropertyId], [StartDate], [EndDate], [onCreated], [onModified], [Price]) VALUES (3, 8, CAST(N'2016-01-01 00:00:00.000' AS DateTime), CAST(N'2016-01-03 00:00:00.000' AS DateTime), CAST(N'2017-04-27 21:55:35.107' AS DateTime), CAST(N'2017-04-27 21:55:35.107' AS DateTime), 659)
SET IDENTITY_INSERT [dbo].[PropertyRentalBudgetDetails] OFF
SET IDENTITY_INSERT [dbo].[PropertyTags] ON 

INSERT [dbo].[PropertyTags] ([PropertyTagId], [PropertyId], [TagId]) VALUES (1, 1, 1)
INSERT [dbo].[PropertyTags] ([PropertyTagId], [PropertyId], [TagId]) VALUES (2, 1, 3)
INSERT [dbo].[PropertyTags] ([PropertyTagId], [PropertyId], [TagId]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[PropertyTags] OFF
SET IDENTITY_INSERT [dbo].[PropertyType] ON 

INSERT [dbo].[PropertyType] ([PropertyTypeId], [PropertyTypeName]) VALUES (1, N'Apartment')
INSERT [dbo].[PropertyType] ([PropertyTypeId], [PropertyTypeName]) VALUES (2, N'Bed and breakfast')
INSERT [dbo].[PropertyType] ([PropertyTypeId], [PropertyTypeName]) VALUES (3, N'Chalet')
SET IDENTITY_INSERT [dbo].[PropertyType] OFF
SET IDENTITY_INSERT [dbo].[SiteMeta] ON 

INSERT [dbo].[SiteMeta] ([MetaId], [MetaName], [MetaText]) VALUES (1, N'contact_location', N'350 Lincoln road 2nd floor 
Miami Beach FL 33139')
INSERT [dbo].[SiteMeta] ([MetaId], [MetaName], [MetaText]) VALUES (2, N'contact_legal', N'Cesar David Garcia 
CEO
')
INSERT [dbo].[SiteMeta] ([MetaId], [MetaName], [MetaText]) VALUES (3, N'contact_phone', N'OFFICE: +1 (305) 804-7404
Toll Free : +1 (844) 737-6511
')
SET IDENTITY_INSERT [dbo].[SiteMeta] OFF
SET IDENTITY_INSERT [dbo].[SiteMetaMatch] ON 

INSERT [dbo].[SiteMetaMatch] ([MatchMetaId], [MetaParentId], [MetaChildId]) VALUES (3, 33, 32)
INSERT [dbo].[SiteMetaMatch] ([MatchMetaId], [MetaParentId], [MetaChildId]) VALUES (4, 34, 4)
INSERT [dbo].[SiteMetaMatch] ([MatchMetaId], [MetaParentId], [MetaChildId]) VALUES (5, 35, 4)
SET IDENTITY_INSERT [dbo].[SiteMetaMatch] OFF
SET IDENTITY_INSERT [dbo].[Specifications] ON 

INSERT [dbo].[Specifications] ([SpecId], [SpecName], [Type]) VALUES (1, N'Engine', 0)
INSERT [dbo].[Specifications] ([SpecId], [SpecName], [Type]) VALUES (2, N'Transmission', 0)
INSERT [dbo].[Specifications] ([SpecId], [SpecName], [Type]) VALUES (3, N'0 to 60', 0)
SET IDENTITY_INSERT [dbo].[Specifications] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagId], [TagName]) VALUES (1, N'Beachfront')
INSERT [dbo].[Tags] ([TagId], [TagName]) VALUES (2, N'City Breaks')
INSERT [dbo].[Tags] ([TagId], [TagName]) VALUES (3, N'Ski')
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET IDENTITY_INSERT [dbo].[Yachts] ON 

SET IDENTITY_INSERT [dbo].[Yachts] OFF
SET IDENTITY_INSERT [dbo].[YachtSpecifications] ON 

INSERT [dbo].[YachtSpecifications] ([YachtSpecId], [YachtId], [SpecID], [Value]) VALUES (28, 9, 8, N'13'' 6" - 4.1 meters')
INSERT [dbo].[YachtSpecifications] ([YachtSpecId], [YachtId], [SpecID], [Value]) VALUES (29, 9, 9, N'3'' 5" - 1.1 meters')
INSERT [dbo].[YachtSpecifications] ([YachtSpecId], [YachtId], [SpecID], [Value]) VALUES (30, 9, 10, N'1')
GO
SET IDENTITY_INSERT [dbo].[YachtSpecifications] OFF
ALTER TABLE [dbo].[Amenities]  WITH CHECK ADD  CONSTRAINT [FK_Amenities_AmenitiesType] FOREIGN KEY([AmenitiesTypeId])
REFERENCES [dbo].[AmenitiesType] ([AmenitiesTypeId])
GO
ALTER TABLE [dbo].[Amenities] CHECK CONSTRAINT [FK_Amenities_AmenitiesType]
GO
ALTER TABLE [dbo].[Amenities]  WITH CHECK ADD  CONSTRAINT [FK_Amenities_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[PropertyDetails] ([PropertyId])
GO
ALTER TABLE [dbo].[Amenities] CHECK CONSTRAINT [FK_Amenities_Property]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[PropertyDetails] ([PropertyId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Property]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_User]
GO
ALTER TABLE [dbo].[CarSpecification]  WITH CHECK ADD  CONSTRAINT [FK_CarSpecification_Car] FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarId])
GO
ALTER TABLE [dbo].[CarSpecification] CHECK CONSTRAINT [FK_CarSpecification_Car]
GO
ALTER TABLE [dbo].[CarSpecification]  WITH NOCHECK ADD  CONSTRAINT [FK_CarSpecification_Specification] FOREIGN KEY([CarSpecificationID])
REFERENCES [dbo].[Specifications] ([SpecId])
GO
ALTER TABLE [dbo].[CarSpecification] NOCHECK CONSTRAINT [FK_CarSpecification_Specification]
GO
ALTER TABLE [dbo].[Composition]  WITH CHECK ADD  CONSTRAINT [FK_Composition_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[PropertyDetails] ([PropertyId])
GO
ALTER TABLE [dbo].[Composition] CHECK CONSTRAINT [FK_Composition_Property]
GO
ALTER TABLE [dbo].[Inquiries]  WITH NOCHECK ADD  CONSTRAINT [FK_Inquiries_Car] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Car] ([CarId])
GO
ALTER TABLE [dbo].[Inquiries] NOCHECK CONSTRAINT [FK_Inquiries_Car]
GO
ALTER TABLE [dbo].[Inquiries]  WITH NOCHECK ADD  CONSTRAINT [FK_Inquiries_Property] FOREIGN KEY([TypeId])
REFERENCES [dbo].[PropertyDetails] ([PropertyId])
GO
ALTER TABLE [dbo].[Inquiries] NOCHECK CONSTRAINT [FK_Inquiries_Property]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_City]
GO
ALTER TABLE [dbo].[PropertyDetails]  WITH CHECK ADD  CONSTRAINT [FK_PropertyDetails_Location] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[PropertyDetails] CHECK CONSTRAINT [FK_PropertyDetails_Location]
GO
ALTER TABLE [dbo].[PropertyDetails]  WITH CHECK ADD  CONSTRAINT [FK_PropertyDetails_PropertyType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[PropertyType] ([PropertyTypeId])
GO
ALTER TABLE [dbo].[PropertyDetails] CHECK CONSTRAINT [FK_PropertyDetails_PropertyType]
GO
ALTER TABLE [dbo].[PropertyRentalBudgetDetails]  WITH CHECK ADD  CONSTRAINT [FK_PropertyRentalBudgetDetails_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[PropertyDetails] ([PropertyId])
GO
ALTER TABLE [dbo].[PropertyRentalBudgetDetails] CHECK CONSTRAINT [FK_PropertyRentalBudgetDetails_Property]
GO
ALTER TABLE [dbo].[PropertyReviews]  WITH CHECK ADD  CONSTRAINT [FK_PropertyReviews_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[PropertyReviews] CHECK CONSTRAINT [FK_PropertyReviews_Bookings]
GO
ALTER TABLE [dbo].[PropertyReviews]  WITH CHECK ADD  CONSTRAINT [FK_PropertyReviews_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[PropertyDetails] ([PropertyId])
GO
ALTER TABLE [dbo].[PropertyReviews] CHECK CONSTRAINT [FK_PropertyReviews_Property]
GO
ALTER TABLE [dbo].[PropertyReviews]  WITH CHECK ADD  CONSTRAINT [FK_PropertyReviews_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PropertyReviews] CHECK CONSTRAINT [FK_PropertyReviews_User]
GO
ALTER TABLE [dbo].[PropertyTags]  WITH CHECK ADD  CONSTRAINT [FK_PropertyTags_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[PropertyDetails] ([PropertyId])
GO
ALTER TABLE [dbo].[PropertyTags] CHECK CONSTRAINT [FK_PropertyTags_Property]
GO
ALTER TABLE [dbo].[PropertyTags]  WITH CHECK ADD  CONSTRAINT [FK_PropertyTags_Tags] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
GO
ALTER TABLE [dbo].[PropertyTags] CHECK CONSTRAINT [FK_PropertyTags_Tags]
GO
ALTER TABLE [dbo].[SiteMetaMatch]  WITH CHECK ADD  CONSTRAINT [FK_SiteMetaMatch_Child] FOREIGN KEY([MetaChildId])
REFERENCES [dbo].[SiteMeta] ([MetaId])
GO
ALTER TABLE [dbo].[SiteMetaMatch] CHECK CONSTRAINT [FK_SiteMetaMatch_Child]
GO
ALTER TABLE [dbo].[SiteMetaMatch]  WITH CHECK ADD  CONSTRAINT [FK_SiteMetaMatch_Parent] FOREIGN KEY([MetaParentId])
REFERENCES [dbo].[SiteMeta] ([MetaId])
GO
ALTER TABLE [dbo].[SiteMetaMatch] CHECK CONSTRAINT [FK_SiteMetaMatch_Parent]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Location] FOREIGN KEY([UserId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Location]
GO
ALTER TABLE [dbo].[YachtSpecifications]  WITH NOCHECK ADD  CONSTRAINT [FK_YachtSpecifications_Specifications] FOREIGN KEY([YachtSpecId])
REFERENCES [dbo].[Specifications] ([SpecId])
GO
ALTER TABLE [dbo].[YachtSpecifications] NOCHECK CONSTRAINT [FK_YachtSpecifications_Specifications]
GO
ALTER TABLE [dbo].[YachtSpecifications]  WITH CHECK ADD  CONSTRAINT [FK_YachtSpecifications_Yacht] FOREIGN KEY([YachtId])
REFERENCES [dbo].[Yachts] ([YachtID])
GO
ALTER TABLE [dbo].[YachtSpecifications] CHECK CONSTRAINT [FK_YachtSpecifications_Yacht]
GO
