@model LayerDB.Tag
@{
    ViewBag.Title = "Add/Update Filter";
}
<a href="/Filters" class="btn btn-info">View All Filters</a><br />
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="card-title">@ViewBag.Title</h4>
    </div>
    <div class="card-content">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="@Model.TagId" />
            <div class="col-md-8">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Name</label>
                        <input type="text" name="name" class="form-control" value="@(Model.TagName ?? "")" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Text</label>
                        <textarea name="text" class="form-control" rows="10">
                            @(Model.Text ?? "")
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h5>Filter Image</h5>
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                        <img src='/uploads/@(Model.image ?? "image_placeholder.jpg")' alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                        <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new">Select image</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="pic" />
                        </span>
                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Filter Banner Image</h5>
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                        <img src='/uploads/@(Model.banner ?? "image_placeholder.jpg")' alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                        <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new">Select image</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="banner" />
                        </span>
                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Save </button><br />
            </div>
        </form>
    </div>
</div>


