@{
    ViewBag.Title = "Index";
}
<div class="cd-section" id="headers">
    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('/Content/Images/Yachtbanner.jpg'); height: 50vh; min-height: 50vh;">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="title">
                                Boat Rental & Yacht Charters
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .features-5 .container .row [class*="col-"] {
        border: 0;
    }
    .features-5 .container .row [class*="col-"]:nth-child(2) {
        border-left: 1px solid rgba(255, 255, 255, 0.35);
        border-right: 1px solid rgba(255, 255, 255, 0.35);
    }
</style>
<div class="cd-section" id="projects">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Boat Rental & Yacht Charters</h2>
    </div>
    <div class="container" style="padding:60px; min-height: 100vh;">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url(/Content/Images/Yachts/36-63.jpg) !important">
                    <div class="content" style="padding: 23% 30px;">
                        <a href="/Yachts/34-63">
                            <h3 class="card-title">34-63 Feet</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url(/Content/Images/Yachts/64-77.jpg) !important">
                    <div class="content" style="padding: 23% 30px;">
                        <a href="/Yachts/64-77">
                            <h3 class="card-title">64-77 Feet</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url(/Content/Images/Yachts/78-99.jpg) !important">
                    <div class="content" style="padding: 23% 30px;">
                        <a href="/Yachts/78-99">
                            <h3 class="card-title">78-99 Feet</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="card card-background" style="background-image: url(/Content/Images/Yachts/100.jpg) !important">
                    <div class="content" style="padding: 23% 30px;">
                        <a href="/Yachts/100">
                            <h3 class="card-title">100+ Feet</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cd-section" id="features">
    <div class="features-5" style="background-image: url('/Content/assets/img/bg9.jpg')">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="title">The Maruca Group Boat Rental & Yacht Charters Services</h2>
        </div>
        <div class="container">
            <div class="row" style="border-bottom: 1px solid rgba(255, 255, 255, 0.35);">
                <div class="col-sm-4">
                    <div class="info" style="padding-top: 30px;">
                        <img src="http://starluxyachts.com/wp-content/uploads/2016/03/jetskiing_bora_524k.jpg" alt="Circle Image" class="img-circle img-raised img-responsive avatar" style="width: 100px;height: 100px ;position: relative;left: 35%;">
                        <h4 class="info-title">WATER SPORTS</h4>
                        <p>Are you and your guests looking for more fun and excitement on the water? Most of our yacht charters come with a wide range of water toys for your enjoyment. If your yacht does not come with a Jet Ski, no worries we can have one delivered when you are anchored out on the water. If you are looking for something more exciting we suggest renting a Jet Pack or a Flyboard. Your day out on the water will definitely be an experience to remember! </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info" style="padding-top: 30px;">
                        <img src="http://starluxyachts.com/wp-content/uploads/2016/03/Gorgeous-Gourmet-Dining-in-Puerto-Vallarta.jpg" alt="Circle Image" class="img-circle img-raised img-responsive avatar" style="width: 100px;height: 100px ;position: relative;left: 35%;">
                        <h4 class="info-title">DINING</h4>
                        <p>We have many dining options available to meet the needs of our wide range of clients. All our guests are welcome to bring their own food and drinks aboard. If you would like to indulge your senses in a culinary experience, choose one of our top caterers or one of our outstanding chefs. Another option is to cruise to one of miami’s lovely waterfront restaurants and taste the local fare. Whatever your preference, our crew will be at your disposal and will help create a memorable romantic experience or a fun time out on the water for you and your guests.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info" style="padding-top: 30px;">
                        <img src="http://starluxyachts.com/wp-content/uploads/2016/03/Massage-on-deck.jpg" alt="Circle Image" class="img-circle img-responsive img-raised avatar" style="width: 100px;height: 100px ;position: relative;left: 35%;">
                        <h4 class="info-title">MASSAGE THERAPY</h4>
                        <p>Treat yourself to a massage while cruising and enjoying the scenic views of Miami. Our masseuses are certified and can provide a private full body massage or massages for your guests. Feel your worries drift away while you are in the careful care of expert hands. You will finish your cruise feeling relaxed and pampered like royalty.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="info" style="padding-top: 30px;">
                        <img src="http://starluxyachts.com/wp-content/uploads/2016/03/acoomodations-2.jpg" alt="Circle Image" class="img-circle img-responsive img-raised avatar" style="width: 100px;height: 100px ;position: relative;left: 35%;">
                        <h4 class="info-title">ACCOMODATIONS</h4>
                        <p>When you arrive to Miami treat yourself like royalty by staying at one of our recommended luxury hotels, beautiful Villas or Mansions.  Call to inquire about our available options. We are sure we are able to find sumptuous accommodations for your relaxing getaway.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info" style="padding-top: 30px;">
                        <img src="http://starluxyachts.com/wp-content/uploads/2016/03/VNZ_2452.jpg" alt="Circle Image" class="img-circle img-responsive img-raised avatar" style="width: 100px;height: 100px ;position: relative;left: 35%;">
                        <h4 class="info-title">TRANSPORTATION</h4>
                        <p>Need another form of transportation other that cruising on a yacht? Let us help you find the perfect ride. Whether you would like to drive a luxury car or you need a chauffeur we are here to provide whatever you need. We have various transportation options for large groups or exotic rides like Lamborghini or Ferrari. Cruise in style!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>