@{
    ViewBag.Title = "Index";
    ViewBag.UploadLocation = RentalsClinet.Helpers.CustomActions.getUploadLocation();  
}
<div class="page-header header-filter clear-filter" style="background-image: url('@ViewBag.banner'); height: 60vh; min-height: 50vh;">
    <div class="container" style="padding-top: 10vh;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <div class="brand">
                    <h1 class="title" style="text-shadow:1px 1px 1px #000;">
                        Boat Rental & Yacht Charters
                    </h1>

                    <h3 class="title" style="text-shadow:1px 1px 1px #000;">
                        @ViewBag.Token Feet
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .features-5 .container .row [class*="col-"] {
        border: 0;
    }
    .features-5 .container .row [class*="col-"]:nth-child(2) {
        border-left: 1px solid rgba(255, 255, 255, 0.35);
        border-right: 1px solid rgba(255, 255, 255, 0.35);
    }
</style>
@model List<List<CustomModels.Yachts.YachtModel>>
<div class="cd-section" id="projects">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">&nbsp;</h2>
    </div>
    <div class="container" style="padding:60px;min-height:100vh;">
        @{
            var x = 0;
        }
        @foreach (var yl in Model)
        {
            <div class="row">
                @foreach (var y in yl)
                {
                    <div class="col-md-4">
                        <div class="card card-background" style="background-image: url(@(ViewBag.UploadLocation + y.banner)) !important">
                            <div class="content" style="padding: 23% 30px;">
                                <a href="/Yachts?token=@y.guid">
                                    <h3 class="card-title">@y.name</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>